@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');
        

        * {
            box-sizing: border-box;
        }
            
        body {
            font-family: 'BBH Sans Bartle' , sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height:100vh ;
            overflow: hidden;
            margin: 0;
        }
    


    /*
    1. @import url ('') 
       외부 CSS 리소스를 불러오는 문법. 위의 경우 구글폰트를 가져왔다.
       @import 는 반드시 css 의 맨 윗줄에 있어야하기 때문에 아랫줄과는 간격을 둔다.
       () 안에 display = swap 은, 폰트가 로딩될때 기본폰트를 먼저 보여주고 나중에 준 폰트로 바꾸라는 뜻.(화면 깜빡임 방지)
    2. box-sizing 
        크기를 계산하는 방식. width : 100 px 이라고 적었을 때, 기본값은 content의 사이즈임.
        근데 box-sizing 을 하면 padding(여백), bording(테두리) 이 포함됨.
        content-box 가 기본으로 설정되어있을 때 , width:100px 을 주면, 100px +padding+border의 값이 기에 100이 넘음.
        반면, box-sizing 을 border-box;로 설정하면 다 합쳐서 100px 로 늘려주기 때문에 계산이 편리함.
    3. * { box-sizing : border-box; }
        *은 '모든 요소에 적용' 이리는 뜻!
    4. font-family
        글씨체를 지정하는 문법 앞에는 지정한 폰트를 쓰고, 그걸 못찾았을때는 뒤의 폰트로 해줘! 라고 지정할 수 있음
    5. display : flex;
        유연한 박스로 바꾸는 명령.
        안에 있는 글씨나 박스를 쉽게 정렬할 수 있는 상태로 만듦.
        flexbox로 만들면 안의 내용을 가로-세로로 마음대로 정렬 가능.
    6. flex-direction:column;
        안의 요소들을 column(세로)로 정렬해달라는 뜻, 기본값은 row(가로)임.
    7. align-items: center;
        가로 방향으로 가운데 정렬
    8. justify-content 
        css 에서 쓰는 정렬 관련 명령어. display:felx; 와 세트로 쓰임.
    9. height:100vh;
        높이를 viewport height 의 100%로 맞추겠다는 뜻
    10.overflow : hidden ; 
        스크롤바가 안생기도록 화면 여백을 숨겨주는 기능. scroll 로 설정하면 항상 스크롤바가 뜸.
    11. margin 
        아까 100vh 로 맞췄는데 margin 이 남을수도 있으니 0으로 조정.
    12. css 주석은 /* 로 씀
    13. css파일을 만들때는 <script> 태그 떼고 옮기기
    14. <link rel"style sheet" href" __.css">로 html 삽입
    */