@import url('https://fonts.google.com/share?selection.family=BBH+Sans+Bartle|Saira:ital,wght@0,100..900;1,100..900=swap');
        *{
            box-sizing: border-box;
        }
        body {
            background-color: #c2dc80;
            font-family:'BBH Sans Bartle',sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            overflow: hidden;
        }
        .click {
            background-color:#D56989 ;
            color: white;
            font-family:'BBH Sans Bartle',sans-serif ;
            border: 0;
            border-radius: 3px;
            font-size: 18px;
            padding:13px 24px;
            cursor:pointer;
            position:fixed ;
            top: 50px;
            letter-spacing: 2px;
            box-shadow: 0 3px white;
            z-index: 100;
        }
        .click:focus {
           outline: none;
        }
        .click:active {
            box-shadow:none;
            transform: translateY(2px);
        }
        .boxes {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            height: 500px; width: 500px;
            position: relative;
            transition: 0.4s ease;
        }
        .boxes.big {
            width: 600px;
            height: 600px;
        }
        .boxes.big .box {
            transform: rotateZ(360deg);
        }
        .box{
            background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3Vta3h4b3VwanZmM2dkcHZrdzRrdTgwbmxubW5tNmpsM281Nmh1diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/h863rDf2h0X7CXGCCv/giphy.gif);
            background-repeat: no-repeat;
            background-size: 500px 500px;
            position: relative;
            height: 125px;
            width: 125px;
            transition: 0.4s;
        }
        .box::after{
            content: '';
            background-color:#e8ffae;
            position: absolute;
            top: 8px;
            right: -15px;
            height: 100%;
            width: 15px;
            transform: skewY(45deg);
        }
        .box::before{
            content: '';
            background-color:#fff9fb;
            position: absolute;
            bottom: -15px;
            left: 8px;
            height: 15px;
            width: 100%;
            transform: skewX(45deg);
        }

            


        
        /*
        1. cursor
            커서의 모양을 변경할 수 있음. pointer 는 손가락 모양으로 '여기를 클릭할 수 있다'의 의미를 가짐.
        2. border-radius 
            border 의 R 값임. 모서리 둥글게~
        3. position : fixed;
            해당 요소를 스크롤을해도 고정되게 할 수 있음.
        4. top rigth left botton : ;
            해당 지점에서 얼마나 거리를 둘 것인가?
        5. letter-spacing :;
            자간 설정, normal 이 기본값
        6. box-shadow : 가로 세로 흐림값 색상
            4가지 속성을 조절할 수 있음. 흐림값은 선택! 가로세로는 값이 0이라도 0이라 적어줘야함.
        7. z-index
            레이어의 선후 관계 100이면 가장 앞으로 설정된 편. 
            보통 10 단위로 조정. position 값이 선행되어야 작동함.
            스크롤해서 다른 요소들과 겹칠 때 위로 보이게끔 설정한 것임.
        8. :hover, :focus , :active 
            고정된 키워드, 브라우저가 자동으로 감지해서 적용하는 특수상태(pseudo-class)
            hover 마우스를 올렸을 때
            focus 클릭해서 선택되었을 때
            active 클릭 누르는 순간
        9. ::after ::before
            HTML 에 실제로 없는 가짜 요소를 css로 붙여서 꾸미는 기능
            즉. html 에 새로운 <div> 를 만들지 않고도 css로 덧붙일 수 있는 상자나 장식
            content 속성이 꼭 필요함!!
            => 가짜 요소를 화면에 만들겠다는 신호 ' ' 가 비어있다는 것은 글자를 안넣겠다는 의미
            '' 안에 글자도 넣을 수 있음
        */
